In [2]:
import mysql.connector as mysql
conn = mysql.connect(
    host = "localhost",
    user = "root",
    password = "Klizos@123"
)

print(conn)
cursor = conn.cursor()
cursor.execute("show databases;")

for db in cursor:
    print(db)

cursor.close()
conn.close()

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000024C59246690>
('balanced_tree',)
('clique_bait',)
('data_bank',)
('data_mart',)
('foodie_fi',)
('information_schema',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('world',)

In [2]:
import pandas as pd
import numpy as np

# "C:/Users/Padma Dey/Downloads/Renewal Stage Status.xlsm"
# 'Renewals Stage Status'

In [ ]:
import pandas as pd
import numpy as np

file_path = input("Enter the file path: ")
sheet_name = input("Enter the sheet name")
df = pd.read_excel(file_path, sheet_name = sheet_name, header = 1, engine = 'openpyxl')

# now I need to ask the user to give file_path and sheet_name to read the file  and store it as a dataframe in df

df.head(2)

,Unnamed: 0,Account,Contact,Effective Date,Opportunity Name,Stage,Last Stage Edit,Days in Stage,TPA,Owner,Broker,Status,EE Lives on Plan,Total Lives
0,NaN,90 Degrees - GA,Patrick Harris,2024-01-01,"ANK Crafts, LLC dba Ankrolab Brewing Company (...",85.0 DTQ,2023-10-17 14:36:21,307.72,90DB-GA,Laura Bracale,Rob Flunker,Lost,5,7
1,NaN,"Montaluce Management, LLC",Harrison Lucas,2024-01-01,"Montaluce Management, LLC (R) 2024",91.0 Plan is Active,2024-06-25 14:59:45,55.70,90DB-GA,Laura Bracale,Rob Flunker,Won,5,5

In [9]:
df = df.loc[:, ~df.columns.str.contains('^Unnamed')]
df.head(2)

,Account,Contact,Effective Date,Opportunity Name,Stage,Last Stage Edit,Days in Stage,TPA,Owner,Broker,Status,EE Lives on Plan,Total Lives
0,90 Degrees - GA,Patrick Harris,2024-01-01,"ANK Crafts, LLC dba Ankrolab Brewing Company (...",85.0 DTQ,2023-10-17 14:36:21,307.72,90DB-GA,Laura Bracale,Rob Flunker,Lost,5,7
1,"Montaluce Management, LLC",Harrison Lucas,2024-01-01,"Montaluce Management, LLC (R) 2024",91.0 Plan is Active,2024-06-25 14:59:45,55.70,90DB-GA,Laura Bracale,Rob Flunker,Won,5,5

In [ ]:
import mysql.connector as mysql_conn
from getpass import getpass
import pandas as pd

while True:
    host = input("Enter your MySQL host name (e.g., localhost): ").strip()
    user = input("Enter your MySQL Username: ").strip()
    password = getpass("Enter MySQL password: ").strip()

    try:
        conn = mysql_conn.connect(
            host=host,
            user=user,
            password=password
        )

        if conn.is_connected():
            print("Successfully connected to MySQL")

            cursor = conn.cursor()
            cursor.execute("show databases;")

            databases = cursor.fetchall()
            print("Available Databases are:")
            db_lst = list()
            for db in databases:
                db_lst.append(db[0])
            print(f"{db_lst}")

            db_name = input("Enter the name of the database you want to create: ").strip()
            cursor.execute(f"drop database if exists `{db_name}`")
            cursor.execute(f"create database if not exists `{db_name}`")
            cursor.execute(f"use `{db_name}`")

            table_name = input("Enter the name of the table you want to create: ").strip()

            file_path = input("Enter the file path of the Excel file (e.g., C:\\path\\to\\file.xlsx): ").strip()
            sheet_name = input("Enter the sheet name you want to read: ").strip()

            try:
                df = pd.read_excel(file_path, sheet_name=sheet_name, engine='openpyxl', header=1)
                
                df.columns = [col if col == col else f"Column_{i}" for i, col in enumerate(df.columns)]
                df = df.loc[:, ~df.columns.str.contains('^Unnamed')]  

                df = df.fillna('')  
                
                print("File successfully loaded into DataFrame.")

            except Exception as e:
                print(f"Error: \n{e}")

                break

            columns = ", ".join([f"`{col}` text" for col in df.columns]) 
            cursor.execute(f"drop table if exists `{table_name}`")
            cursor.execute(f"create table `{table_name}` ({columns})")
            print(f"Table '{table_name}' created successfully.")

            placeholders = ", ".join(["%s"] * len(df.columns))
            insert_query = f"insert into `{table_name}` ({', '.join([f'`{col}`' for col in df.columns])}) values ({placeholders})"
            cursor.executemany(insert_query, df.values.tolist())
            conn.commit()

            print(f"{cursor.rowcount} rows were inserted into '{table_name}'.")

            cursor.close()
            conn.close()
            break

    except Exception as e:
        print(f"Error: \n{e}\nPlease try again with valid credentials")

Error:1045 (28000): Access denied for user 'localhost'@'localhost' (using password: YES)
 Please try again with valid credentials

In [ ]:
# in this program, use oops concept(class, method, object), use private variables, handle errors(try, except)

In [ ]:
import mysql.connector as mysql_conn
from getpass import getpass
import pandas as pd

def connect_to_mysql():
    """Prompt user for MySQL connection credentials and establish a connection."""
    host = input("Enter your MySQL host name (e.g., localhost): ").strip()
    user = input("Enter your MySQL Username: ").strip()
    password = getpass("Enter MySQL password: ").strip()
    try:
        conn = mysql_conn.connect(host=host, user=user, password=password)
        if conn.is_connected():
            print("Successfully connected to MySQL")
            return conn
    except Exception as e:
        print(f"Error: {e}\nPlease try again with valid credentials")
        return None

def list_databases(cursor):
    """List available databases on the MySQL server."""
    cursor.execute("SHOW DATABASES;")
    databases = cursor.fetchall()
    db_list = [db[0] for db in databases]
    print("Available Databases:", db_list)
    return db_list

def create_database(cursor, db_name):
    """Create a new database, dropping it first if it already exists."""
    cursor.execute(f"DROP DATABASE IF EXISTS `{db_name}`")
    cursor.execute(f"CREATE DATABASE `{db_name}`")
    cursor.execute(f"USE `{db_name}`")
    print(f"Database '{db_name}' created and selected.")

def load_excel_to_df(file_path, sheet_name):
    """Load specified sheet from an Excel file into a DataFrame, removing unnamed columns."""
    try:
        df = pd.read_excel(file_path, sheet_name=sheet_name, engine='openpyxl', header=1)
        df.columns = [col if col == col else f"Column_{i}" for i, col in enumerate(df.columns)]
        df = df.loc[:, ~df.columns.str.contains('^Unnamed')]
        df = df.fillna('')  # Fill NaN values with empty string
        print("File successfully loaded into DataFrame.")
        return df
    except Exception as e:
        print(f"Error loading Excel file: {e}")
        return None

def create_table(cursor, table_name, df):
    """Create a MySQL table using DataFrame column names."""
    columns = ", ".join([f"`{col}` TEXT" for col in df.columns])
    cursor.execute(f"DROP TABLE IF EXISTS `{table_name}`")
    cursor.execute(f"CREATE TABLE `{table_name}` ({columns})")
    print(f"Table '{table_name}' created successfully.")

def insert_data(cursor, conn, table_name, df):
    """Insert data from DataFrame into the MySQL table."""
    placeholders = ", ".join(["%s"] * len(df.columns))
    insert_query = f"INSERT INTO `{table_name}` ({', '.join([f'`{col}`' for col in df.columns])}) VALUES ({placeholders})"
    cursor.executemany(insert_query, df.values.tolist())
    conn.commit()
    print(f"{cursor.rowcount} rows were inserted into '{table_name}'.")

def main():
    # Connect to MySQL
    conn = None
    while not conn:
        conn = connect_to_mysql()
    
    cursor = conn.cursor()
    list_databases(cursor)

    # Database and table setup
    db_name = input("Enter the name of the database you want to create: ").strip()
    create_database(cursor, db_name)

    table_name = input("Enter the name of the table you want to create: ").strip()
    file_path = input("Enter the file path of the Excel file (e.g., C:\\path\\to\\file.xlsx): ").strip()
    sheet_name = input("Enter the sheet name you want to read: ").strip()

    # Load data from Excel and create the table
    df = load_excel_to_df(file_path, sheet_name)
    if df is not None:
        create_table(cursor, table_name, df)
        insert_data(cursor, conn, table_name, df)
    
    # Close the connection
    cursor.close()
    conn.close()

if __name__ == "__main__":
    main()

In [ ]:
import mysql.connector as mysql_conn
from getpass import getpass
import pandas as pd

class MySQLDatabase:
    def __init__(self, host, user, password):
        self.__host = host
        self.__user = user
        self.__password = password
        self.__conn = None
        self.__cursor = None

    def connect(self):
        """Establish a MySQL connection."""
        try:
            self.__conn = mysql_conn.connect(
                host=self.__host, 
                user=self.__user, 
                password=self.__password
            )
            if self.__conn.is_connected():
                print("Successfully connected to MySQL")
                self.__cursor = self.__conn.cursor()
        except mysql_conn.Error as e:
            print(f"Error: {e}")
            self.__conn = None
            self.__cursor = None

    def list_databases(self):
        """List available databases on the MySQL server."""
        if self.__cursor:
            try:
                self.__cursor.execute("SHOW DATABASES;")
                databases = self.__cursor.fetchall()
                db_list = [db[0] for db in databases]
                print("Available Databases:", db_list)
                return db_list
            except mysql_conn.Error as e:
                print(f"Error listing databases: {e}")
        return []

    def create_database(self, db_name):
        """Create a new database, dropping it first if it already exists."""
        try:
            self.__cursor.execute(f"DROP DATABASE IF EXISTS `{db_name}`")
            self.__cursor.execute(f"CREATE DATABASE `{db_name}`")
            self.__cursor.execute(f"USE `{db_name}`")
            print(f"Database '{db_name}' created and selected.")
        except mysql_conn.Error as e:
            print(f"Error creating database '{db_name}': {e}")

    def create_table(self, table_name, df):
        """Create a MySQL table using DataFrame column names."""
        try:
            columns = ", ".join([f"`{col}` TEXT" for col in df.columns])
            self.__cursor.execute(f"DROP TABLE IF EXISTS `{table_name}`")
            self.__cursor.execute(f"CREATE TABLE `{table_name}` ({columns})")
            print(f"Table '{table_name}' created successfully.")
        except mysql_conn.Error as e:
            print(f"Error creating table '{table_name}': {e}")

    def insert_data(self, table_name, df):
        """Insert data from DataFrame into the MySQL table."""
        try:
            placeholders = ", ".join(["%s"] * len(df.columns))
            insert_query = f"INSERT INTO `{table_name}` ({', '.join([f'`{col}`' for col in df.columns])}) VALUES ({placeholders})"
            self.__cursor.executemany(insert_query, df.values.tolist())
            self.__conn.commit()
            print(f"{self.__cursor.rowcount} rows were inserted into '{table_name}'.")
        except mysql_conn.Error as e:
            print(f"Error inserting data into '{table_name}': {e}")

    def close(self):
        """Close the database connection."""
        if self.__cursor:
            self.__cursor.close()
        if self.__conn:
            self.__conn.close()
            print("MySQL connection closed.")

class ExcelDataLoader:
    def __init__(self, file_path, sheet_name):
        self.__file_path = file_path
        self.__sheet_name = sheet_name

    def load_to_dataframe(self):
        """Load specified sheet from an Excel file into a DataFrame, removing unnamed columns."""
        try:
            df = pd.read_excel(self.__file_path, sheet_name=self.__sheet_name, engine='openpyxl', header=1)
            df.columns = [col if col == col else f"Column_{i}" for i, col in enumerate(df.columns)]
            df = df.loc[:, ~df.columns.str.contains('^Unnamed')]
            df = df.fillna('')  # Fill NaN values with empty string
            print("File successfully loaded into DataFrame.")
            return df
        except Exception as e:
            print(f"Error loading Excel file: {e}")
            return None

def main():
    # Get user inputs for MySQL connection
    host = input("Enter your MySQL host name (e.g., localhost): ").strip()
    user = input("Enter your MySQL Username: ").strip()
    password = getpass("Enter MySQL password: ").strip()
    
    # Create database connection
    db = MySQLDatabase(host, user, password)
    db.connect()
    
    # List databases and create new database
    db.list_databases()
    db_name = input("Enter the name of the database you want to create: ").strip()
    db.create_database(db_name)

    # Get user inputs for Excel file and table creation
    table_name = input("Enter the name of the table you want to create: ").strip()
    file_path = input("Enter the file path of the Excel file (e.g., C:\\path\\to\\file.xlsx): ").strip()
    sheet_name = input("Enter the sheet name you want to read: ").strip()
    
    # Load data from Excel and create table in MySQL
    excel_loader = ExcelDataLoader(file_path, sheet_name)
    df = excel_loader.load_to_dataframe()
    if df is not None:
        db.create_table(table_name, df)
        db.insert_data(table_name, df)
    
    # Close the database connection
    db.close()

if __name__ == "__main__":
    main()